<nav class="navbar">

    <div class="navbar-left">

      <div class="navbar-logo">
        <%= link_to "/" do %>
          <%= image_tag('logo.png')  %>
        <% end %>
      </div>

      <% if (user_signed_in?) %>

      <div class="user-count">
        <img src="<%= image_path("online.svg") %>">
        <span id="user-count">1</span> <span id="user-online">currently online</span>
      </div>

      <div class="user-count-mobile" uk-tooltip="title: Users online & your pixels.; pos: bottom">
          <li>
          <img src="<%= image_path("online.svg") %>">
          <span id="user-count-m">1</span> <span id="user-online"></span>
          </li>
          <li>
          <img src="<%= image_path("grid.svg") %>">
          <span class="credits"><%= current_user.pixel_credits %></span>
          </li>
      </div>

      <% end %>

    </div>

    </div>

    <div class="navbar-right">

        <% if (user_signed_in?) %>

          <% if current_user.admin %>

          <div>
            <span class="credits credits-desktop">Pixels: <%= current_user.pixel_credits %></span>
          </div>
          <div>
            <button id="dashboard" class="uk-button uk-button-default" type="button" uk-toggle="target: #offcanvas-flip-dashboard">Add Pixels</button>
          </div>

        <% end %>

        <div uk-tooltip="title: Profile coming soon!; pos: bottom">
          <%= image_tag "logo.png", class: "avatar", id: "navbarDropdown"%>
        </div>

              <% else %>
        <div>
          <button id="dashboard" class="uk-button uk-button-primary" type="button" uk-toggle="target: #offcanvas-flip-signin">Get Started</button>
        </div>
      <% end %>
  </div>
<%= render 'shared/sign_in' %>
</nav>
