<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.9/css/uikit.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.9/js/uikit.min.js"></script>
    <meta name="HandheldFriendly" content="true" />
    <meta property="og:image" content="<%= image_url("og-image.jpg") %>" />
    <%= favicon_link_tag %>
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/images/favicon.png">
    <title>PixelGrid</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body class="uk-animation-fade">
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>

  <!-- What is this script's purpose? -->
  <script>
    document.addEventListener('gesturestart', function (e) {
      e.preventDefault();
    });
  </script>
</html>
